body {
  background-color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#master-container {
  background-color: white;
  width: 98%;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
  max-width: 600px;
  min-width: 320px;
}

.spacing-1 {
  height: 15px;
  margin: 0 auto;
  /*border: 1px solid blue;*/
}

#media-selector-container {
  display: table;
  margin: 0 auto;
  height: 30px;
  overflow: hidden;
}

#media-selector {
  display: table-row;
  margin: 0 30px 0 30px;
  height: 30px;
  overflow: hidden;
}

.media-selector-cell {
  display: table-cell;
  width:250px;
  height:30px;
  text-align: center;
  line-height: 30px;
}

.media-selector-cell:hover {
  cursor: pointer;
}

#video-selector-container {
  box-sizing: border-box;
  background-color: rgb(187,19,19);
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid rgb(187,19,19);
  border-right: 0;
  font-size: 14px;
}

#video-selector-container:hover {
  text-decoration: underline;
}

#article-selector-container {
  box-sizing: border-box;
  background-color: none;
  color: rgb(187,19,19);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid rgb(187,19,19);
  border-left: 0;
  font-size: 14px;
}

#article-selector-container:hover {
  text-decoration: underline;
}

#list-container {

}

#list {
  text-align: left;
  padding-left: 0;
}

.list-item {
  position: relative;
  height: 50px;
  list-style: none;
  border-bottom: 1px solid rgb(227,227,227);
  /*overflow: hidden;*/
  text-align: center;
}

.list-item:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

.expanded {
  height:200px;
  background-color: black;
}

.expanded:hover {
  background-color: black;
}

.list-item:last-of-type {
  height:30px;
}

.list-item:nth-last-child(2) {
  border-bottom: 1px solid white;
}

.list-item:last-of-type:hover {
    background-color:white;
    cursor: default;
}

.hover-square {
  width: 10px;
  height: 40px;
  position: absolute;
  top: 5px;
  left:-5px;
  z-index: 5;
  overflow: hidden;
  background-color: Transparent;
  /*rgb(187,19,19);*/
}

.list-item:last-of-type a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list-item:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.list-item-number {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width:40px;
  height: 50px;
  overflow: hidden;
}

.list-item-number p {
  vertical-align: text-top;
  margin: 8px 0 0 0;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}

.list-item-text {
  position: absolute;
  top: 0;
  left:40px;
  right: 50px;
  height: 50px;
  text-align: left;
  overflow: hidden;
}

.list-item-text p {

}

.list-item-text-p1 {
  vertical-align: text-bottom;
  margin: 8px 0 0 0;
  height:20px;
  overflow: hidden;
  font-size: 14px;
  color: #444444;
  font-weight: 700;
}

.list-item-text-p2 {
  vertical-align: text-bottom;
  margin: 0 0 0 0;
  height:20px;
  overflow: hidden;
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

.list-item-time {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width:50px;
  height: 50px;
  font-size: 12px;
  margin: 13px 0 0 0;
  padding: 0 0 0 0;
}

.list-item-time p {
  padding-top: 3px;
  padding-bottom: 2px;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.see-more-link {
  padding-top: 5px;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 10px;
}
